V0.01 COMPLETE
	-It should make a call to the Met Office Datapoint API and retrieve JSON for UK weather extremes from the past day.
	-It should be able to format the JSON object into a new object specific to the specified UK region.
	-It should be able to log the weather extremes data for the specified UK region to the console.

V0.02
	-Add Jasmine testing suite.
	-Create and complete tests for V0.01.

V0.03
	-Add jQuery.
	-Substitute in jQuery methods for API calls and returns.
